@{
    ViewData["Title"] = "Sobre";
}

<h2>@ViewData["Title"]</h2>

<p>Estudante | @ViewData["Estudante"]</p>
<p>E-mail | @ViewData["Email"]</p>
<strong>Para mais informações: </strong> <a href ="http://www.wipro.com"> wipro.com</a>

