@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<address>
    Wipro<br />
    Brazil<br />
    <abbr title="Phone">Phone:</abbr>
    (81) 9 93790
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">carlos.pessannha@wipro.com</a><br />
</address>
